.home-header {
  /* font-size: 80px; */
  position: relative;
  margin-top: 650px;
}

/* @media (max-width: 1155px) {
  .home-header {
    margin-top: 420px;
  }
}
@media (max-width: 1115px) {
  .home-header {
    margin-top: 420px;
  }
}

@media (max-width: 1105px) {
  .home-header {
    margin-top: 370px;
  }
}
@media (max-width: 1005px) {
  .home-header {
    margin-top: 330px;
  }
}
@media (max-width: 850px) {
  .home-header {
    margin-top: 260px;
  }
}
*/
@media (max-width: 650px) {
  .home-header {
    margin-top: 650px;
  }
}
@media (max-width: 499px) {
  .home-header {
    margin-top: 420px;
  }
}
@media (max-width: 414px) {
  .home-header {
    margin-top: 140px;
  }
}
@media (max-width: 390px) {
  .home-header {
    margin-top: 160px;
  }
}

@media (max-width: 376px) {
  .home-header {
    margin-top: 200px;
  }
}
