.icon-btn {
    border-radius: 50px;
    padding: 7px;
    background: none;
    border: 1px solid #075550;
    color: #075550;
}

.icon-btn:hover {
    background: #075550;
    color: white;
    cursor: pointer;
}

.icon-btn:focus, .icon-btn:active {
    outline: none;
    background: #075550;
    color: white;
}