.mission-statement {
    font-size: 18px;
    color: rgb(167, 167, 167);
}

.mission-card {
    display: flex;
  align-items: center;
  justify-content: center;
}

.values-li {
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 17px;
    margin-bottom: 25px;
}

.values-ul {
    list-style-type: circle;
}