.faq-card {
    border-radius: 2px;
    margin-bottom: 30px;
    padding: 5%;
}

.faq-question {
    margin-bottom: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: gray;
}

.faq-answer {
    margin-bottom: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.answer-row {
    margin-top: 4%;
}

.faq-hr {
    margin-top: 4%;
}