.contact-li {
    font-size: .75rem;
    padding-left: 10px;
    font-weight: 100;
    color: rgb(202, 200, 200) !important;
    text-transform: uppercase;
}

.contact-icon {
    color: rgb(228, 228, 228) !important;
}

#contact-title {
    color: white !important;
    font-family: "Montserrat",sans-serif!important;
    /* text-transform: uppercase !important; */
    font-weight: 300;
}

.contact-icon:hover {
    color: #fd855b !important;
}