.overlay {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0px;
}

.pic-container {
    position: relative;
}

.page-heading {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 54px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.page-heading-container {
    position: absolute;
    top: 35%;
    z-index: 2;
}

.page-subtitle {
    color: rgb(201, 201, 201);
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
}

@media only screen and (max-width: 600px) {
  .page-heading {
    font-size: 2rem;
    text-align: center;
  }

  .page-subtitle {
    font-size: .8rem;
    text-align: center;
  }

  .page-heading-container {
        top: 20%;
        left: 0px !important;
        right: 0px !important; 
    }
}